@use '../base/breakpoints' as media;
@use '../base/colors' as color;

.carte-overlay {
    background-color: rgba(12, 10, 9, 0.705);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all .2s;

    .carte-container {
        margin: 5rem auto 0;
        width: 90%;
        max-width: 123rem;
        background-color: color.$body-color;
        z-index: 20;
        border-radius: 1.5rem;
        padding: 2.5rem;
        height: 64rem;

        @include media.smallTablets {
            padding: 3.5rem;
        }
    }

    .carte__header {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;

        i {
            font-size: 3rem;
            cursor: pointer;
        }
    }

    .carte__title {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        background-image: linear-gradient(to bottom, #F97316 40%, #ba540b);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: black;

        @include media.extraSmallDevices {
            font-size: 4rem;
        }
    }

    .carte__container-itens {
        margin-top: 3rem;
        border: 1px solid #e0e0e0;
        border-radius: 1.5rem;
        padding: 4rem;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 4rem;
        overflow-y: scroll;
        height: 50rem;

        &::-webkit-scrollbar {
            width: 6px;
            border: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            background: #dad7d7;
            border-radius: 5rem;
        }

        @include media.extraSmallDevices {
            gap: 2rem;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @include media.smallTablets {
            gap: 4rem;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        @include media.laptops {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }

    .carte__item {
        border: 1px solid #e0e0e0;
        border-radius: 1.5rem;
        padding: 2rem;
        text-align: center;
        transition: all .2s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover {
            transform: translate(0, 0) rotate(0) skewX(0) skewY(0) scaleX(1.05) scaleY(1.05);
        }

        h3 {
            font-size: 2.1rem;
            font-weight: 600;
        }

        p {
            margin-top: .5rem;
            font-size: 1.3rem;

            &:nth-child(3) {
                margin-top: 1rem;
                font-weight: 700;
                color: color.$orange-primary;
            }
        }
    }
}