@use '../base/colors' as color;
@use '../base/breakpoints' as media;
@use '../module/mixins' as mixin;

.about {
    margin-top: 4rem;
    border-bottom: 1px solid #ECEBEA;
    text-align: center;

    &__title {
        @include mixin.style-main-titles;
    } 

    &__text {
        text-align: left;
        margin-top: 2rem;
        font-size: 1.6rem;
        font-weight: 400;
    }
}