@use '../base/breakpoints' as media;
@use '../base/colors' as color;

.contact {
    margin-top: 6rem;
    background-image: url(../image/Contact.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 4rem;
    color: color.$white-primary;

    @include media.smallTablets {
        margin-top: 10rem;
    }

    @include media.laptops {
        padding: 7rem 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20rem;
    }

    @include media.desktops {
        border-radius: 1.5rem;
    }

    &__title {
        font-size: 1.7rem;
        text-transform: uppercase;
        font-weight: 300;
    }

    &__subtitle {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 900;

        @include media.smallTablets {
            font-size: 4.5rem;
        }
    }

    &__informations-container {
        margin-top: 3rem;
        background-color: #0c0a097b;
        padding: 2rem;
        border-radius: 1rem;
        max-width: 50rem;

        @include media.smallTablets {
            padding: 2rem 3rem;
        }

        @include media.laptops {
            margin-top: 0;
        }
    }

    &__information {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.4rem;

        &:nth-child(2) {
            margin-top: 2rem;
        }

        @include media.smallTablets {
            font-size: 1.7rem;
        }

        i {
            font-size: 3.5rem;
            color: color.$orange-primary;

            @include media.smallTablets {
                font-size: 4rem;
            }
        }

        address {
            font-style: normal;
        }
    }
}