@use '../base/colors' as color;
@use '../base/breakpoints' as media;

.home {
    position: relative;

    @include media.desktops {
        .home__container-image img {
            border-radius: 0 0 1.5rem 1.5rem;
        }
    }

    &__btn-arrow {
        position: absolute;
        border: .2rem solid color.$black-primary;
        bottom: -5.5rem;
        left: 58%;
        margin-left: -50px;
        color: color.$black-primary;
        padding: .5rem .9rem;
        border-radius: 50%;
        font-size: 1.8rem;
        animation: moveUpDown 1s ease-in-out infinite;

        @include media.extraSmallDevices {
            left: 53%;
        }
    }

    @keyframes moveUpDown {

        0%,
        100% {
            transform: translateY(-30%);
            animation-timing-function: cubic-bezier(.8, 0, 1, 1);
        }

        50% {
            transform: none;
            animation-timing-function: cubic-bezier(0, 0, .2, 1);
        }
    }
}