@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.limit-content {
  max-width: 138rem;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
}

img {
  width: 100%;
}

@media (min-width: 768px) {
  .home {
    position: relative;
  }
}
@media (min-width: 1400px) {
  .home__container-image img {
    border-radius: 0 0 1.5rem 1.5rem;
  }
}
.home__container-social {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .home__container-social {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    flex-direction: column;
  }
}
.home__btn-social {
  border: 1px solid #E7E5E4;
  background-color: #ffffff;
  padding: 0.8rem 0.7rem;
  border-radius: 0.5rem;
}
.home__btn-social i {
  font-size: 1.9rem;
}
.home__btn-arrow {
  position: absolute;
  border: 0.2rem solid #ffffff;
  bottom: 1.5rem;
  left: 53%;
  margin-left: -50px;
  color: #ffffff;
  padding: 0.5rem 0.9rem;
  border-radius: 50%;
  font-size: 1.8rem;
  animation: moveUpDown 1s ease-in-out infinite;
}
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(-20%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.information {
  margin-top: 3rem;
  padding: 0 2rem 2rem;
  text-align: center;
  border-bottom: 1px solid #ECEBEA;
}
@media (min-width: 1400px) {
  .information {
    padding: 0;
  }
}
.information__title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}
.information__carrousel-container {
  margin-top: 2.5rem;
  height: 40rem;
}
.information .swiper-slide {
  position: relative;
}
.information .swiper-slide img {
  border-radius: 1.5rem;
  object-fit: cover;
  height: 33rem;
}
.information .carrousel__texts-container {
  background-color: rgba(0, 0, 0, 0.411);
  position: absolute;
  z-index: 999;
  bottom: 0.4rem;
  width: 100%;
  left: 0;
  border-radius: 0 0 1rem 1rem;
  color: #ffffff;
}
.information .carrousel__texts-container h2 {
  font-size: 2.3rem;
  text-transform: uppercase;
  margin-top: 2rem;
}
.information .carrousel__texts-container p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}
.information .carrousel__texts-container button {
  border-radius: 0.5rem;
  width: 90%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: #F97316;
  color: #ffffff;
  font-weight: 500;
  transition: all 0.3s;
}
.information .carrousel__texts-container button:hover {
  background-color: #bf5911;
}
.information .carrousel__texts-container button i {
  margin-left: 1rem;
  font-size: 1.8rem;
}
.information__buttons-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.information__btn-carrousel {
  border: 1px solid #ECEBEA;
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
  font-size: 1.7rem;
  background-color: transparent;
}
.information .swiper-pagination {
  position: static;
  color: #000;
  width: auto;
  font-size: 1.4rem;
}

.about {
  margin-top: 4rem;
  border-bottom: 1px solid #ECEBEA;
  text-align: center;
}
.about__title {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

/*# sourceMappingURL=app.css.map */
